---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import WelcomeSection from "../components/home/HeroSection.astro";
import AboutSection from "../components/home/AboutSection.astro";
import InfoSection from "../components/home/InfoSection.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout>
  <Header
    segments={[
      {
        text: "Inicio",
        route: "/#home",
      },
      {
        text: "Acerca de",
        route: "/#about",
      },
      {
        text: "Objetivo",
        route: "/#info",
      },
      /*{ 
        text: "Contacto", 
        route: "/#contact", 
      }*/
    ]}
    rightSegments={[
      {
        text: "Iniciar sesión",
        route: "/login",
        class:
          "font-bold text-white px-15 mr-6 hover:text-blue-300 transition-all duration-300",
      },
    ]}
  />

  <main
    class="relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-custom bg-[#070F33] select-none"
  >
    <div class="snap-y snap-mandatory h-full overflow-y-auto scroll-smooth">
      <div class="snap-center">
        <WelcomeSection />
      </div>

      <div class="snap-center">
        <AboutSection />
      </div>

      <div class="snap-center">
        <InfoSection />
      </div>

      <div class="snap-start">
        <Footer />
      </div>
    </div>
  </main>
</Layout>
