---
import Typing from "../Typing.astro";
---

<section
  class="about-section h-screen w-screen text-center overflow-hidden relative items-center gray-blue grid-pattern scroll-smooth"
  id="about"
>
  <div class="relative flex text-center">
    <div
      class="flex flex-col gap-6 items-center justify-center w-332.5 h-screen pl-38.75"
    >
      <Typing>
        <span class="text-gray-foreground font-heading text-5xl"
          >¿Por qué <span class="text-[#F4E13A]">Logimath</span>?</span
        >
      </Typing>

      <div class="grid md:grid-cols-3 gap-8">
        <!-- Card 1 -->
        <div
          class={`bg-[#0c132d] text-white border border-gray-700 p-8 rounded hover:border-[#F4E13A] hover:drop-shadow-[0_0_8px_rgba(251,146,60,0.8)] transition-colors duration-300`}
        >
          <span class="text-4xl mb-4 block"></span>
          <h3 class="font-heading text-xl font-bold mb-3">Problemas creativos</h3>
          <p class="font-body text-gray-400 leading-relaxed">Desafios diseñados para resolverse de multiples formas. Explota tu creatividad y genera tu propia solución.</p>
        </div>

         <!-- Card 2 -->
        <div
          class={`bg-[#0c132d] text-white border border-gray-700 p-8 rounded hover:border-[#F4E13A] hover:drop-shadow-[0_0_8px_rgba(251,146,60,0.8)] transition-colors duration-300`}
        >
          <span class="text-4xl mb-4 block"></span>
          <h3 class="font-heading text-xl font-bold mb-3">Soluciones guiadas</h3>
          <p class="font-body text-gray-400 leading-relaxed">¿Atascado? Descubre el procedimiento paso a paso a tu propio ritmo. Aprende comprendiendo, no copiando.</p>
        </div>

         <!-- Card 3 -->
        <div
          class={`bg-[#0c132d] text-white border border-gray-700 p-8 rounded hover:border-[#F4E13A] hover:drop-shadow-[0_0_8px_rgba(251,146,60,0.8)] transition-colors duration-300`}
        >
          <span class="text-4xl mb-4 block"></span>
          <h3 class="font-heading text-xl font-bold mb-3">Desarrolla tu pensamiento lógico</h3>
          <p class="font-body text-gray-400 leading-relaxed">Cada problema es una oportunidad para probar tu capacidad de razonar de forma distinta. Mejora tu habilidad para crear soluciones creativas con cada desafio.</p>
        </div>
      </div>
    </div>
  </div>
</section>
