---
import Typing from "../Typing.astro";
---

<section class="info-section h-[70dvh] w-screen" id="info">
  <div class="relative flex text-center">
    <div
      class="flex flex-col gap-6 items-center justify-center w-332.5 h-screen pl-38.75"
    >
      
    <div class="relative flex flex-col text-center items-center w-full h-full">
      <h1 class="text-white text-7xl">RUTA DE OBJETIVOS CON FLECHAS</h1>
    </div>
  </div>
</section>
