<span class="typing p-3">
  <slot />
</span>

<style>
  .typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    font-family: monospace;

    animation:
      typing 3s steps(30, end) forwards,
      blink 1s step-end infinite;
  }

  .typing::after {
    content: "|";
    margin-left: 2px;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 80ch;
    }
  }
</style>