---
import Logo from "../components/Logo.astro";

const navItems = [
  { text: "Inicio", route: "/" },
  { text: "Nosotros", route: "/nosotros" },
  { text: "Ejercicios", route: "/exercises" },
  { text: "Contacto", route: "/contacto" },
];

const currentPath = Astro.url.pathname;
---

<header
  id="landing-header"
  class="py-3 px-10 flex items-center fixed top-0 w-full h-20 justify-between z-40
  bg-background/95 backdrop-blur-md border-b border-blue-950 select-none"
>
  <!-- IZQUIERDA -->
  <div class="flex items-center gap-4 basis-0 grow ml-20">
    <a href="/">
      <Logo />
    </a>

    <h1 class="font-heading font-bold text-[20px] text-white">
      <span class="text-[#F4E13A]">Logi</span>Math
    </h1>
  </div>

  <!-- CENTRO -->
  <nav class="flex justify-center">
    <ul class="flex font-body gap-2">
      {
        navItems.map((item) => {
          const isActive =
            item.route === "/"
              ? currentPath === "/"
              : currentPath.startsWith(item.route);

          return (
            <li>
              <a
                href={item.route}
                class={`
                relative group px-4 py-2 inline-block transition-colors duration-300
                ${isActive ? "text-[#F4E13A]" : "text-white"}
              `}
              >
                {item.text}

                <span
                  class={`
                  absolute bottom-0 h-0.5 bg-current rounded transition-all duration-300
                  ${
                    isActive
                      ? "left-0 w-full"
                      : "left-1/2 w-0 group-hover:w-full group-hover:left-0"
                  }
                `}
                />
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>

  <!-- DERECHA -->
  <div class="flex justify-end basis-0 grow mr-20">
    <div
      class="rounded-2xl p-2 border-transparent hover:border hover:border-gray-400/20 transition-all duration-300"
    >
      <a href="/login"
        ><i class="fa-solid fa-user p-2 text-white bg-[#171f40] rounded-2xl"
        ></i></a
      >
      <a href="/login" class="px-3 py-2 text-white font-bold">
        Iniciar sesión
      </a>
    </div>
  </div>
</header>
