---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" transition:animate="fade">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>LogiMath | Mejora tu lógica en resolución de problemas</title>
    <ClientRouter />

    <!--Meta Tags for SEO -->
    <meta
      name="description"
      content="LogiMath es una plataforma que te ayuda a mejorar tu lógica en la resolución de problemas matemáticos y de razonamiento."
    />
    <meta
      name="keywords"
      content="lógica, resolución de problemas, matemáticas, razonamiento"
    />
    <meta name="author" content="LuckScience" />
    <meta name="theme-color" content="#7a73a9" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body class="snap-y snap-mandatory scroll-smooth bg-blue-950">
    <slot />
  </body>
</html>
